body{
    background-image: url(./images/photo-1548400636-b8d3a313d209.jpg);
}

/* nav */
nav{
    display: fixed;
    top: 0;
    width: 100%;

}
nav ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    background-color: rgb(152, 56, 231);
    padding: 10px;
}
nav ul li {
    flex-grow: 1;
}
nav li a{
    text-decoration: none;
    color: white;
}
/* sidebar */
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color:rgb(152, 56, 231); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #faf6f9;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
/* footer */
footer{
    display: flex;
    background-color: rgb(152, 56, 231);
    position: absolute;
    bottom: 0;
}
 footer p {
     padding: 5px;
     color: white;
 }