/* css reset */
body, ul, li, h1, h2, a, html{
    margin: 0;
    padding: 0;
	font-family: arial;
}

/* navbar */
nav{
    padding: 10px;
    background: bisque;
    position: fixed;
    top: 0;
    width: 100%;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin-left: 30px;
}
nav ul li{
    padding: 10px;
}
nav li a {
    text-decoration: none;
    color: black;
    padding :10px;
}

nav a:hover{
    background: rgb(245, 216, 182);
}

/* articles */
body{
    background: beige;
}

main{
    margin-top: 100px;
}
.widthseperator {
    margin-top: 1000px;
    display: flex;
    flex-direction: column;
}
.article-row{
    margin: 0 auto;
    display: flex;
    max-width: 80%;
}
.article-row article{
    background: whitesmoke;
    border: 2px solid #bbbbbb;
    border-radius: 20px;
    padding: 100px 20px;
    text-align: center;
    line-height: 1.1em;
    margin: 20px;
}

/* footer */
footer{
    margin-top: 100px;
    background: bisque;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footlinks{
    min-width: 10%;
}

.aboutus{
    max-width: 20%;
    margin-left: 30px;
}

footer ul {
    list-style: none;
    line-height: 1.5em;
}


footer  a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
}

footer a:hover {
    text-decoration: underline;
}